.span6.offset3 
  %h1= "Decision ##{@decision.id}"
  %small Each "yes" vote receive +1, each "no" vote receive -2.

  %table.table.table-striped
    - @decision.choices.each do |choice|
      %tr
        %td= render 'restaurants/restaurant_td', restaurant: choice.restaurant
        %td= choice.points

  = link_to 'Back', decisions_path, class: 'btn'

