%h1 Listing decidings

%table
  %tr
    %th Name
    %th Identifier
    %th
    %th
    %th

  - @decidings.each do |deciding|
    %tr
      %td= deciding.name
      %td= deciding.identifier
      %td= link_to 'Show', deciding
      %td= link_to 'Edit', edit_deciding_path(deciding)
      %td= link_to 'Destroy', deciding, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Deciding', new_deciding_path
