.span6.offset3
  %h1 New Group Order
  = form_for @group_order do |f|
    %fieldset
      = render 'shared/error_messages', object: f.object
      = render 'fields', f: f
      .btn-group
        = f.submit 'Create', class: 'btn btn-primary'
        = link_to 'Back', group_orders_path, class: 'btn'
