%h1 Listing orders

%table
  %tr
    %th Item
    %th Price
    %th Note
    %th Group
    %th
    %th
    %th

  - @orders.each do |order|
    %tr
      %td= order.item
      %td= order.price
      %td= order.note
      %td= order.group
      %td= link_to 'Show', order
      %td= link_to 'Edit', edit_order_path(order)
      %td= link_to 'Destroy', order, :method => :delete, :data => { :confirm => 'Are you sure?' }

.btn-group
  = link_to 'New Order', new_order_path
  = link_to 'Back', root_path, class: 'btn'