.span6.offset3
  %h4 
    Thanks, your order has been received.
    %br
    Your total is $#{@order.total}

  %p
    %b Name:
    = @order.name

  %p
    %b Item:
    = @order.item

  %p
    %b Price:
    = @order.price

  %p
    %b Tax:
    = @order.tax

  %p
    %b Total:
    = @order.total

  %p
    %b Note:
    = @order.note