= f.label :name
= f.text_field :name, class: 'input-block-level'

= f.label :menu
= f.text_field :menu, class: 'input-block-level'

= f.label :address
= f.text_field :address, class: 'input-block-level'

= f.label :phone
= f.text_field :phone, class: 'input-block-level'

= f.label :site
= f.text_field :site, class: 'input-block-level'

= f.label :yelp
= f.text_field :yelp, class: 'input-block-level'
