%h1 Listing restaurants

%table.table.table-striped
  %tr
    %th Name
    %th

  - @restaurants.each do |restaurant|
    %tr
      %td= link_to restaurant.name, restaurant
      %td
        = icon_link edit_restaurant_path(restaurant), 'icon-pencil'
        = icon_link restaurant, 'icon-remove', :method => :delete, :data => { :confirm => 'Are you sure?' }

.btn-group
  = link_to 'New Restaurant', new_restaurant_path, class: 'btn btn-primary'
  = link_to 'Back', back_url, class: 'btn'

