.span6.offset3
  %h1 Vote
  = form_for @vote, url: votes_path(@decision) do |f|
    = render 'shared/error_messages', object: f.object
    %small Choose yes for the restaurant you want to eat for today, or choose no for the restaurant you don't want to eat today.
    %br
    %small Please choose yes or no for at least 1 restaurant.
    %table.table.table-bordered
      %tr
        %th Yes!
        %th Nooo!
        %th
      - @choices.each do |choice|
        %tr.restaurant
          %td= radio_button_tag "vote[voted_choices][#{choice.id}]", 'yes', f.object.yes_choice_ids.include?(choice.id)
          %td= radio_button_tag "vote[voted_choices][#{choice.id}]", 'no', f.object.no_choice_ids.include?(choice.id)
          %td= render 'restaurants/restaurant_td', restaurant: choice.restaurant
    = f.submit "Submit", class: 'btn btn-primary'